<header>
  <div class="header-content">
    <div class="logo">
      <a>Reservation</a>
    </div>
    <nav class="navbar">
      <ul>
        <a href=""><li>ログイン<span class="sr-only">(current)</span></li></a>
        <a  href=""><li>新規登録</li></a>
      </ul>
    </nav>
  </div>
</header>



<!-- 
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-right">
      <a class="navbar-brand" href="/"></a>
          <h1>Reservation</h1>
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">ログイン <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">新規登録</a>
          </li>
   
        </ul>
      </div>
  </nav> 
  
  </header>
   -->
  